header {
	width: 100%;

	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;

		.logo-container {
			margin-right: 6vw;

			.logo {
				-webkit-text-stroke: 0.4px #1d1d2f;
			}
		}

		.nav {
			flex-grow: 1;

			&-list {
				list-style: none;
				display: flex;
				align-items: center;

				&-item {
					margin: 0 1rem;
				}
			}
		}

		.cta-group {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.nav-link {
				margin-right: 2rem;
			}

			.cta-trial {
				background-color: #1d1d2f;
				color: #ffffff;
				padding: 0.75rem 2.5rem;
				border-radius: 100px;
			}
		}
	}
}
